<!doctype html>
<html lang="en">
  <%- include('include/inc_head.html'); %>
  <body>
    <div class="wrap">
        <h3>You're watching... <%=video.vlog_title%></h3>

        <small>
            <%= video.views %>
            <%= video.views === 1 ? "view" : "views" %>
        </small>

        <hr />

        <a href="<%= `/videos/edit/${video.idx}` %>">Edit Video &rarr;</a>
        <a href="<%= `/videos/delete/${video.idx}` %>">Delete Video &rarr;</a>
        <!-- <button type="button">delete</button> -->

        <%- include('include/inc_footer.html') %>
    </div>
  </body>
</html>